.expertise {
  margin: 8rem 0;
}

.expertise_heading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
  color: #fca475;
  margin-bottom: 3rem;
}

.expertise_heading::after {
  content: "";
  display: block;
  position: relative;
  width: 18rem;
  height: 0.06rem;
  background-color: #5a5a5c;
  top: -2rem;
  margin-left: 34rem;
}

.subject_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  margin: 0 4rem;
  width: 100%;
}

.subject_list ul li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 350px) {
  .expertise_heading::after {
    display: none;
  }
}
